In [14]:
import pandas as pd
import numpy as np

In [15]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("lainguyn123/student-performance-factors")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\perle\.cache\kagglehub\datasets\lainguyn123\student-performance-factors\versions\8

In [16]:
df = pd.read_csv('StudentPerformanceFactors.csv')

df.describe()

,Hours_Studied,Attendance,Sleep_Hours,Previous_Scores,Tutoring_Sessions,Physical_Activity,Exam_Score
count,6377.000000,6377.000000,6377.000000,6377.000000,6377.000000,6377.000000,6377.000000
mean,19.976008,80.018034,7.035126,75.063353,1.494747,2.972714,67.246825
std,5.985283,11.549434,1.468091,14.399766,1.233300,1.029006,3.891637
min,1.000000,60.000000,4.000000,50.000000,0.000000,0.000000,55.000000
25%,16.000000,70.000000,6.000000,63.000000,1.000000,2.000000,65.000000
50%,20.000000,80.000000,7.000000,75.000000,1.000000,3.000000,67.000000
75%,24.000000,90.000000,8.000000,88.000000,2.000000,4.000000,69.000000
max,44.000000,100.000000,10.000000,100.000000,8.000000,6.000000,100.000000

In [17]:
df = pd.read_csv('student_performance_cleaned.csv')
print(df.head)

<bound method NDFrame.head of       Hours_Studied  Attendance Parental_Involvement Access_to_Resources  \
0                23          84                  Low                High
1                19          64                  Low              Medium
2                24          98               Medium              Medium
3                29          89                  Low              Medium
4                19          92               Medium              Medium
...             ...         ...                  ...                 ...
6372             25          69                 High              Medium
6373             23          76                 High              Medium
6374             20          90               Medium                 Low
6375             10          86                 High                High
6376             15          67               Medium                 Low

     Extracurricular_Activities  Sleep_Hours  Previous_Scores  \
0                            No            7               73
1                            No            8               59
2                           Yes            7               91
3                           Yes            8               98
4                           Yes            6               65
...                         ...          ...              ...
6372                         No            7               76
6373                         No            8               81
6374                        Yes            6               65
6375                        Yes            6               91
6376                        Yes            9               94

     Motivation_Level Internet_Access  Tutoring_Sessions Family_Income  \
0                 Low             Yes                  0           Low
1                 Low             Yes                  2        Medium
2              Medium             Yes                  2        Medium
3              Medium             Yes                  1        Medium
4              Medium             Yes                  3        Medium
...               ...             ...                ...           ...
6372           Medium             Yes                  1          High
6373           Medium             Yes                  3           Low
6374              Low             Yes                  3           Low
6375             High             Yes                  2           Low
6376           Medium             Yes                  0        Medium

     Teacher_Quality School_Type Peer_Influence  Physical_Activity  \
0             Medium      Public       Positive                  3
1             Medium      Public       Negative                  4
2             Medium      Public        Neutral                  4
3             Medium      Public       Negative                  4
4               High      Public        Neutral                  4
...              ...         ...            ...                ...
6372          Medium      Public       Positive                  2
6373            High      Public       Positive                  2
6374          Medium      Public       Negative                  2
6375          Medium     Private       Positive                  3
6376          Medium      Public       Positive                  4

     Learning_Disabilities Parental_Education_Level Distance_from_Home  \
0                       No              High School               Near
1                       No                  College           Moderate
2                       No             Postgraduate               Near
3                       No              High School           Moderate
4                       No                  College               Near
...                    ...                      ...                ...
6372                    No              High School               Near
6373                    No              High School               Near
6374                    No             Postgraduate               Near
6375                    No              High School                Far
6376                    No             Postgraduate               Near

      Gender  Exam_Score
0       Male        67.0
1     Female        61.0
2       Male        74.0
3       Male        71.0
4     Female        70.0
...      ...         ...
6372  Female        68.0
6373  Female        69.0
6374  Female        68.0
6375  Female        68.0
6376    Male        64.0

[6377 rows x 20 columns]>

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6377 entries, 0 to 6376
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6377 non-null   int64
 1   Attendance                  6377 non-null   int64
 2   Parental_Involvement        6377 non-null   object
 3   Access_to_Resources         6377 non-null   object
 4   Extracurricular_Activities  6377 non-null   object
 5   Sleep_Hours                 6377 non-null   int64
 6   Previous_Scores             6377 non-null   int64
 7   Motivation_Level            6377 non-null   object
 8   Internet_Access             6377 non-null   object
 9   Tutoring_Sessions           6377 non-null   int64
 10  Family_Income               6377 non-null   object
 11  Teacher_Quality             6377 non-null   object
 12  School_Type                 6377 non-null   object
 13  Peer_Influence              6377 non-null   object
 14  Physical_Activity           6377 non-null   int64
 15  Learning_Disabilities       6377 non-null   object
 16  Parental_Education_Level    6377 non-null   object
 17  Distance_from_Home          6377 non-null   object
 18  Gender                      6377 non-null   object
 19  Exam_Score                  6376 non-null   float64
dtypes: float64(1), int64(6), object(13)
memory usage: 996.5+ KB

In [19]:
df = pd.read_csv('StudentPerformanceFactors.csv')

# Drop rows with any missing values
df_cleaned = df.dropna().copy()

# Remove any student with Exam_Score > 100
df_cleaned = df_cleaned[df_cleaned['Exam_Score'] <= 100]

# Overwrite the original dataset with the cleaned data
df_cleaned.to_csv('StudentPerformanceFactors.csv', index=False)
df_cleaned.to_csv('student_performance_cleaned.csv', index=False)

print("Original dataset overwritten and cleaned data saved to both 'StudentPerformanceFactors.csv' and 'student_performance_cleaned.csv'.")
print('Number of students remaining:', len(df_cleaned))

Original dataset overwritten and cleaned data saved to both 'StudentPerformanceFactors.csv' and 'student_performance_cleaned.csv'.
Number of students remaining: 6377

In [20]:
print(df.head())

# Check the data shape
print(df.shape)

   Hours_Studied  Attendance Parental_Involvement Access_to_Resources  \
0             23          84                  Low                High
1             19          64                  Low              Medium
2             24          98               Medium              Medium
3             29          89                  Low              Medium
4             19          92               Medium              Medium

  Extracurricular_Activities  Sleep_Hours  Previous_Scores Motivation_Level  \
0                         No            7               73              Low
1                         No            8               59              Low
2                        Yes            7               91           Medium
3                        Yes            8               98           Medium
4                        Yes            6               65           Medium

  Internet_Access  Tutoring_Sessions Family_Income Teacher_Quality  \
0             Yes                  0           Low          Medium
1             Yes                  2        Medium          Medium
2             Yes                  2        Medium          Medium
3             Yes                  1        Medium          Medium
4             Yes                  3        Medium            High

  School_Type Peer_Influence  Physical_Activity Learning_Disabilities  \
0      Public       Positive                  3                    No
1      Public       Negative                  4                    No
2      Public        Neutral                  4                    No
3      Public       Negative                  4                    No
4      Public        Neutral                  4                    No

  Parental_Education_Level Distance_from_Home  Gender  Exam_Score
0              High School               Near    Male          67
1                  College           Moderate  Female          61
2             Postgraduate               Near    Male          74
3              High School           Moderate    Male          71
4                  College               Near  Female          70
(6377, 20)

In [21]:
print(df.tail(5))

      Hours_Studied  Attendance Parental_Involvement Access_to_Resources  \
6372             25          69                 High              Medium
6373             23          76                 High              Medium
6374             20          90               Medium                 Low
6375             10          86                 High                High
6376             15          67               Medium                 Low

     Extracurricular_Activities  Sleep_Hours  Previous_Scores  \
6372                         No            7               76
6373                         No            8               81
6374                        Yes            6               65
6375                        Yes            6               91
6376                        Yes            9               94

     Motivation_Level Internet_Access  Tutoring_Sessions Family_Income  \
6372           Medium             Yes                  1          High
6373           Medium             Yes                  3           Low
6374              Low             Yes                  3           Low
6375             High             Yes                  2           Low
6376           Medium             Yes                  0        Medium

     Teacher_Quality School_Type Peer_Influence  Physical_Activity  \
6372          Medium      Public       Positive                  2
6373            High      Public       Positive                  2
6374          Medium      Public       Negative                  2
6375          Medium     Private       Positive                  3
6376          Medium      Public       Positive                  4

     Learning_Disabilities Parental_Education_Level Distance_from_Home  \
6372                    No              High School               Near
6373                    No              High School               Near
6374                    No             Postgraduate               Near
6375                    No              High School                Far
6376                    No             Postgraduate               Near

      Gender  Exam_Score
6372  Female          68
6373  Female          69
6374  Female          68
6375  Female          68
6376    Male          64

In [22]:
# Remove any student with Exam_Score > 100 and save the cleaned data
df_cleaned = df_cleaned[df_cleaned['Exam_Score'] <= 100]
df_cleaned.to_csv('student_performance_cleaned.csv', index=False)
print('Students with Exam_Score > 100 removed. Cleaned data saved to student_performance_cleaned.csv.')
print('Number of students remaining:', len(df_cleaned))

Students with Exam_Score > 100 removed. Cleaned data saved to student_performance_cleaned.csv.
Number of students remaining: 6377

In [23]:
# Total Students
total_students = len(df_cleaned)
print("Total Students:", total_students)

# Average Exam Score
avg_score = df_cleaned['Exam_Score'].mean()
print("Average Exam Score:", avg_score)

# Average Attendance
avg_attendance = df_cleaned['Attendance'].mean()
print("Average Attendance:", avg_attendance)

# High Performers (>70)
high_performers_pct = (df_cleaned['Exam_Score'] > 70).mean() * 100
print("High Performers (>70):", high_performers_pct)

Total Students: 6377
Average Exam Score: 67.24682452563901
Average Attendance: 80.01803355809942
High Performers (>70): 16.528148031989964